---
const today = new Date();
---

<footer>
	<div class="card">
		<div style="text-align: right; float:right">
			<img src="/triangle.png" alt="" width="50" class="logo">
		</div>
		<span class="label">❤️ Join</span>
		<p>
			Contact us by email and claim your free class 
			<a class='' style='display:block' href="mailto:info@sandakickboxingacademy.co.uk?subject=Self-Defence classes">info@sandakickboxingacademy.co.uk</a>
		</p>
	</div>
	<div class="social-links">
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
